{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-features-section" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        <li><a href="{{ home }}">{{ text_home }}</a></li>
        <li><a href="{{ heading_title }}">{{ heading_title }}</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> {{ text_edit }}</h3></div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-features-section" class="form-horizontal">

          <div id="feature-items">
            {% if module_features_section_items %}
              {% for item in module_features_section_items %}
                <div class="feature-item-box well">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Icon (FA class)</label>
                    <div class="col-sm-10"><input type="text" name="module_features_section_items[{{ loop.index0 }}][icon]" value="{{ item.icon }}" class="form-control" placeholder="fa-solid fa-gear" /></div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10"><input type="text" name="module_features_section_items[{{ loop.index0 }}][title]" value="{{ item.title }}" class="form-control" /></div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10"><textarea name="module_features_section_items[{{ loop.index0 }}][desc]" class="form-control">{{ item.desc }}</textarea></div>
                  </div>
                  <button type="button" class="btn btn-danger btn-sm remove-feature"><i class="fa fa-trash"></i> {{ button_remove }}</button>
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <button type="button" id="add-feature" class="btn btn-success"><i class="fa fa-plus"></i> {{ button_add }}</button>

          <hr>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_features_section_status" id="input-status" class="form-control">
                <option value="1" {% if module_features_section_status %}selected{% endif %}>Enabled</option>
                <option value="0" {% if not module_features_section_status %}selected{% endif %}>Disabled</option>
              </select>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
let featureIndex = {{ module_features_section_items ? module_features_section_items|length : 0 }};
$('#add-feature').on('click', function() {
  const html = `
  <div class="feature-item-box well">
    <div class="form-group">
      <label class="col-sm-2 control-label">Icon (FA class)</label>
      <div class="col-sm-10"><input type="text" name="module_features_section_items[${featureIndex}][icon]" value="" class="form-control" placeholder="fa-solid fa-gear" /></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10"><input type="text" name="module_features_section_items[${featureIndex}][title]" value="" class="form-control" /></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10"><textarea name="module_features_section_items[${featureIndex}][desc]" class="form-control"></textarea></div>
    </div>
    <button type="button" class="btn btn-danger btn-sm remove-feature"><i class="fa fa-trash"></i> Remove</button>
  </div>`;
  $('#feature-items').append(html);
  featureIndex++;
});

$(document).on('click', '.remove-feature', function() {
  $(this).closest('.feature-item-box').remove();
});
</script>
{{ footer }}
